<a href="https://colab.research.google.com/github/disha2sinha/Yield-prediction-2/blob/master/DatasetExploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [3]:
data={
    'District':['Darjeeling','Jalpaiguri','Koch Bihar','Uttar Dinajpur','Dakshin Dinajpur','Maldah','Murshidabad','Nadia','Birbhum','Bardhaman','Bankura','Purulia','Hugli','Haora','North 24 Parganas','South 24 Parganas','Kolkata','Medinipur'],
    'Rainfall':[174.9025,195.2306,177.3472,128.3008,124.4917,114.9917,117.4706,120.3923,115.0348,118.0904,117.6115,109.8540,128.4050,133.5379,134.0477,116.9631,132.1458,130.8080],
    'Temperature(avg)':[17.5,26.3,27.5,26.2,26.6,30.4,28.2,29.3,30.6,32.3,31.6,31.7,30.5,30.6,31.2,27.1,31.6,30.75],
    'Humidity':[92,94,96,72,74,87,83,84,71,77,71,85,76,69,68,79,66,76],
    'Area(sq km)':[3149,6227,3387,2320,2219,3733,5324,3927,4545,7024,6882,6259,3149,1467,4094,9960,185,4061],
    'Soil pH':[5.92,4.62,5.2,5.83,5.87,6.0,7.05,6.0,5.75,6.5,6.23,6.35,6.12,6.02,7.12,7.38,7.36,6.12],
    'Cloud Coverage(%)':[0,75,75,0,0,25,0,0,50,63,50,0,74,74,0,75,75,75],
    'Vapour Pressure(hPa)':[867.4,1007.8,1008.5,0,0,1008.5,0,0,1007.8,1004.8,1006.5,0,1006.6,1006.8,0,1007.3,1007.3,1007.1],
    'Yield Rate(Kg/Hect)':[2098.58,2459.69,2376.35,2592.39,2829.67,3233.12,3081.66,2876.25,3262.04,3242.24,2701.24,2141.85,3053.53,2485.50,2873.51,2440.98,0,2717.67],#aman paddy
    'Production(\'000 tonnes)':[56.945,433.939,515.777,466.273,462.884,457.341,686.341,273.137,1029.374,1361.138,794.716,597.889,580.845,176.630,401.623,794.541,0,546.260]
}
df=pd.DataFrame(data)
df

             District  Rainfall  ...  Yield Rate(Kg/Hect)  Production('000 tonnes)
0          Darjeeling  174.9025  ...              2098.58                   56.945
1          Jalpaiguri  195.2306  ...              2459.69                  433.939
2          Koch Bihar  177.3472  ...              2376.35                  515.777
3      Uttar Dinajpur  128.3008  ...              2592.39                  466.273
4    Dakshin Dinajpur  124.4917  ...              2829.67                  462.884
5              Maldah  114.9917  ...              3233.12                  457.341
6         Murshidabad  117.4706  ...              3081.66                  686.341
7               Nadia  120.3923  ...              2876.25                  273.137
8             Birbhum  115.0348  ...              3262.04                 1029.374
9           Bardhaman  118.0904  ...              3242.24                 1361.138
10            Bankura  117.6115  ...              2701.24                  794.716
11            Purulia  109.8540  ...              2141.85                  597.889
12              Hugli  128.4050  ...              3053.53                  580.845
13              Haora  133.5379  ...              2485.50                  176.630
14  North 24 Parganas  134.0477  ...              2873.51                  401.623
15  South 24 Parganas  116.9631  ...              2440.98                  794.541
16            Kolkata  132.1458  ...                 0.00                    0.000
17          Medinipur  130.8080  ...              2717.67                  546.260

[18 rows x 10 columns]

20